body{
    margin:0;
    background:#f5f7fb;
    font-family:Poppins,sans-serif;
}

.sidebar{
    width:260px;
    min-height:100vh;
    background:#0d6efd;
    color:#fff;
    padding:20px;
}

.sidebar h3{
    margin-bottom:30px;
}

.sidebar a{
    display:block;
    color:#fff;
    text-decoration:none;
    padding:12px;
    margin-bottom:8px;
    border-radius:8px;
}

.sidebar a:hover{
    background:rgba(255,255,255,.2);
}

.content{
    padding:20px;
    flex:1;
}

.card{
    border:none;
    border-radius:15px;
}
